@model IEnumerable<Appointment>


    @{
        ViewBag.Title = "Randevular";
    }

    @foreach (var item in Model)
{
    <div>
        @item.Name
        @item.Phone
        @item.Date
        @item.Time
    </div>
}